// MEDIAQUERI
@media (max-width: 768px){

    /* CAMBIOS EN INDEX SOBRE MI */

    .yo__img--md{
        width: $w-50;
    }
}
@media (min-width: 992px) { 
    /* AGRANDO LOGO DE LA NAV Y AGREGO ANIMACIONES */

    .nav{
        ul{
            li{
                border-left: 1px solid map-get($map: $colores, $key: 'dos');
                padding: 10px 5px;
                a{
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% $w-100;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;
                    &:hover{
                        color:map-get($map: $colores, $key: 'tres');
                        font-weight: 600;
                        background-size: $w-100 2px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .navImg{
        width: 250px;
        margin-bottom: 10px;
    }

    /* INDEX */
    .index__articulo--white{
        margin: 10px 10px;
    }


    /* Links del index en la parte de sobre mi */
    .divButton a{
        background-image: linear-gradient(currentColor, currentColor);
   		background-position: 0% $w-100;
    	background-repeat: no-repeat;
    	background-size: 0% 2px;
        transition: background-size .3s;
        &:hover{
            color: map-get($map: $colores, $key: 'tres');
            font-weight: 600;
            background-size: $w-100 2px;
            cursor: pointer;
        }
    }
    
    /* links del index en la parte de blog */
    .linkHover a{
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% $w-100;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        &:hover{
            color: map-get($map: $colores, $key: 'tres');
            font-weight: 600;
            background-size: $w-100 2px;
            cursor: pointer;
        }
    }
    .index__div--flex{
        @include flex(none,none,row);
    }

    /* Contacto agrando letra */
    .contactoText{
        font-size: $textSm;
    }
    .contacto__form{
        width: $w-50;
    }

    /* BLOG TITULOS */
    .blog__titulo--xxl{
        @include text($textXxl,5rem);
    }
    /* RECETAS TITULOS */
    .recetas__titulo--xxl{
        @include text($textXxl,5rem);
    }
}
@media (min-width: 1024px){

    /* Agrando el logo de la nav */
    .navImg{
        width: 300px;
    }

    /* acomodo texto y la imágen de "sobre mi" en index*/
    .index{
        .index__img--center{
            @include flex(center,center,none);
            margin: 15px 15px;
            width: $w-100;
        }
    }
    
    
    .index__img--md{
        width: $w-100;
    }

    .divYo{
        @include flex(none,center,row-reverse);
        text-align: left;
        margin: 15px;
    }

    .divButton{
        width: $w-50;
    }


    /* CONTACTO botones */
    .contactoButton{
        @include flex(space-evenly,center,row);
    }
    .contacto__form--button{
        width: $w-50;
    }

    /* CAMBIOS EN MAIN DE SOBRE MI */
    .main__yo--articulo{
        div{
            p{
                padding: 10px;
            }
        }
    }
   
    .yo__img--center{
        @include flex(center,center,none);
        margin: 10px auto;
        width: $w-100;
    }

    .yo__img--md{
        width: $w-100;
    }

    .div__yo{
        @include flex(none,center,row-reverse);
        text-align: center;
        margin: 15px;
    }
    .div__experiencia{
        @extend .div__yo;
    }

    /* CAMBIOS EN MAIN DE BLOG */
    .blog__articulo{
        div{
            p{
                padding: 10px;
            }
        }
    }
    
    .blog__img--center{
        @include flex(none,center,row-reverse);
        text-align: center;
        margin: 15px;
    }
    
    .blog__img--md{
        width: $w-100;
    }

    .div__blog{
        @include flex(none,center,row);
        text-align: center;
        margin: 15px;
    } 
    
    /* Cambios en MAIN DE RECETAS */
    .recetas__articulo{
        div{
            p{
                padding: 10px;
            }
        }
    }
    .recetas__img--center{
        @include flex(center,center,none);
        margin: 10px auto;
        width: $w-100;
    }
    
    .recetas__img--md{
        width: $w-100;
    }

    .div__recetas{
        @include flex(none,center,row);
        text-align: center;
        margin: 15px;
    }
}
@media (min-width: 1200px){

    .index__div--flex{
        display: flex;
        flex-direction: row;
    }

    .index__articulo--white{
        width: $w-30;
        @include flex(center,center,column);
    }
}


