// selectores de etiqueta
p,a{
    @include text($textSm,2.4rem);
    color: map-get($map: $colores, $key: 'nueve');
}
a{
    text-decoration: none;
    color: map-get($map: $colores, $key: 'nueve');
}

h1,h2{
    color: map-get($map: $colores, $key: 'nueve');
    font-weight: 600;
}

h3{
    color: map-get($map: $colores, $key: 'nueve');
}

/* MAIN DE INDEX */

.index{
    section{
        article{
            p{
                text-align: justify;
            }
        }
    }
    .index__titulo--xxl{
        @include text($textXl,4rem);
        text-align: center;
    }
    
    .index__titulo--xl{
        @include text($textMd,3rem);
        text-align: center;
    }
    
    // PRIMERA SECCIÓN
    .index__img--center{
        @include flex(space-around, center, column);
        margin: 15px;

        // breakpoint - acomodo imagen
        @media only screen and (min-width: 1024px){
            @include flex(center,center,none);
            margin: 15px 15px;
            width: $w-80;
        }
        .index__img--md{
            width: $w-50;

            // breakpoint - agrando imagen
            @media only screen and (min-width: 1024px){
                width: $w-80;
            }
        }

    }
    
    .index__articulo--yo{
        background-image: url(../img/recetas3.png);
        background-size: cover;
        width: $w-90;
        height: auto;
        @include m-p(20px auto, 30px 25px);
        box-sizing: border-box;
        border: none;
    
    }
    
    .divButton{
        @include flex(space-around, center, row);
        align-content: center;
        a:hover{
            color: map-get($map: $colores, $key: 'nueve');
        }
        .btn-index{
            background-color: map-get($map: $colores, $key: 'siete');
            margin-bottom: 10px;
            @include m-p(10px,10px);
            width: 150px;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }

        // breakpoint - w-70
        @media only screen and (min-width: 1024px){
            width: $w-70;
        }

        .btn-index{
            &:hover{
                transform: scale(1.1);

                // breakpoint
                @media only screen and (min-width: 992px){
                    box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.75);
                }
                
            }
        }
    }
    // breakpoint - divYo
    @media only screen and (min-width: 1024px){
        .divYo{
            @include flex(none,center,row-reverse);
            text-align: left;
            margin: 20px;
        }
    }
    
    // SECCIÓN DE BLOG
    .index__section--blog{
        background-image: none;
        @extend .index__articulo--yo;
    }
     .index__articulo--green{
        background-color: map-get($map: $colores, $key: 'cinco');
        @include m-p(10px auto, 10px 20px);
        width: $w-70;
        @include flex(center,center,column);
        box-shadow: 6px 10px 6px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 10px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 10px 6px 0px rgba(0,0,0,0.75);
        
        // breackpoint
        @media only screen and (min-width: 992px){
            margin: 10px 10px;
            
        }

        // breakpoint - 1200px
        @media only screen and (min-width: 1200px){
            width: $w-30;
        }
        
    }
    

    // SECCIÓN DE RECETAS
    .index__section--recetas{
        @extend .index__articulo--yo;
        background-color: map-get($map: $colores, $key: 'cinco');
        background-image: none;
        h2{
            text-shadow: 3px 2px 2px rgba(246,242,168,0.71);
        }
    }
    
    .index__div--flex{
        display: flex;
        flex-direction: column;

        // breackpoint -flex row
        @media only screen and (min-width: 992px){
            @include flex(none,none,row);
        }
    }
    
    // ARTICULO DE RECETAS
    .index__articulo--white{
        background-color: map-get($map: $colores, $key: 'doce');
        @include m-p(10px auto, 10px 20px);
        width: $w-70;
        @include flex(center,center,column);
        box-shadow: 6px 10px 6px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 10px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 10px 6px 0px rgba(0,0,0,0.75);
        // breackpoint
        @media only screen and (min-width: 992px){
            margin: 10px 10px;
            
        }

        // breakpoint - 1200px
        @media only screen and (min-width: 1200px){
            width: $w-30;
        }
        
    }

    // BOTONES DE LOS DIV
    a:hover{
        color: map-get($map: $colores, $key: 'nueve');
    }
    .btn-index{
        background-color: map-get($map: $colores, $key: 'siete');
        margin-bottom: 10px;
        @include m-p(10px,10px);
        width: 150px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        // breakpoint
        @media only screen and (min-width:992px){
            width: $w-70;
        }
    }
    .btn-index{
        &:hover{
            transform: scale(1.1);
            // breakpoint
            @media only screen and (min-width: 992px){
                box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.75);
            }
        }
    }
    
}

// MAIN DE SOBRE MI
.mainYo{
    section{
        article{
            div{
                p{
                    text-align: center;
                }
            }
        }
    }
    .main__yo--articulo{
        @include m-p(10px auto, 20px 20px);
        background-color: map-get($map: $colores, $key: 'cinco'); 
        width: $w-90;
        height: auto;
        box-sizing: border-box;
        border: none;

        // breakpoint
        @media only screen and (min-width: 1024px){
            div{
                p{
                    @include m-p(0 15px,10px);
                }
            }
        }
        
    }
    
    .yo__titulo--xxl{
        @include text($textXxl,5rem);
        text-align: center;
        text-shadow: 3px 2px 2px rgba(246,242,168,0.71);
    }
    
    
    .yo__img--center{
        @include flex(center,center,none);
        margin: 15px;

        // breakpoint - agrando img
        @media only screen and (min-width: 1024px){
            @include flex(center,center,none);
            margin: 10px auto;
            margin-left: 15px;
            width: $w-100;
        }
    }
    
    .yo__img--md{
        width: $w-60;

        // breakpoint - agrando img
        @media only screen and (min-width: 1024px){
            width: $w-100;
        }
    }

    // breakpoint div__yo
    @media only screen and (min-width: 1024px){
        .div__yo{
            @include flex(none,center,row-reverse);
            text-align: center;
            margin: 15px;
        }
        
        .div__experiencia{
            @extend .div__yo;
            @include flex(none,center,row);
        }
        
    }
}

// MAIN DE BLOG
.blog{
    section{
        article{
            div{
                p{
                    text-align: center;  
                }
            }
        }
    }
    .blog__articulo{
        background-color: map-get($map: $colores, $key: 'cinco');
        width: $w-90;
        height: auto;
        @include m-p(10px auto, 20px 20px);
        box-sizing: border-box;
        border: none;

        // breakpoint
        @media only screen and (min-width: 1024px){
            div{
                p{
                    padding: 5px;
                }
            }
        }

    }
    .blog__titulo--xxl{
        @include text($textXl,3.5rem);
        text-align: center;
        text-shadow: 3px 2px 2px rgba(246,242,168,0.71);

        // breackpoint- agrando título
        @media only screen and (min-width: 992px){
            @include text($textXxl,5rem);
        }
    }
    .card-body{
        @media only screen and (min-width:1400px){
            height: 220px;
        }
    }
    .card-blog{
        background-color: map-get($map: $colores, $key: 'seis');
    }
    .btn-blog{
        color: map-get($map: $colores, $key: 'nueve');
        background-color: map-get($map: $colores, $key: 'cuatro');
        
        font-size: $textSsm; 
        &:hover{
            transform: scale(1.05);
            background-color: map-get($map: $colores, $key: 'siete');

            // breakpoint
            @media only screen and (min-width: 992px){
                box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
            }
        }
    }
}

// MAIN DE RECETAS
.recetas{
    section{
        article{
            div{
                p{
                    text-align: center;
                }
            }
        }
    }
    .recetas__articulo{
        background-color: map-get($map: $colores, $key: 'cinco');
        width: $w-90;
        height: auto;
        @include m-p(10px auto, 20px 20px);
        box-sizing: border-box;
        border: none;

    }
    .recetas__titulo--xxl{
        @include text($textXl,3.5rem);
        text-align: center;
        text-shadow: 3px 2px 2px rgba(246,242,168,0.71);

        // breakpoint- agrando titulo
        @media only screen and (min-width: 992px){
            @include text($textXxl,5rem);
        }
    }
    .card-recetas{
        background-color: map-get($map: $colores, $key: 'seis');
    }
    .btn-recetas{
        color: map-get($map: $colores, $key: 'nueve');
        background-color: map-get($map: $colores, $key: 'siete');
        font-size: $textSsm; 
        &:hover{
            transform: scale(1.05);
            // breakpoint
            @media only screen and (min-width: 992px){
                box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
            }
            
        }
    }
}
// MAIN DE CONTACTO
form, input{
    @include flex(none,none,column);
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: $w-100;
}

fieldset{
    box-sizing: border-box;
    border: none;
}



.contacto__articulo{
    margin: 10px auto;
    .contacto__form{
        background-color: map-get($map: $colores, $key: 'cinco');
        width: $w-80;
        height: auto;
        @include m-p(10px auto,10px 20px);
        box-sizing: border-box;
        border: none;

        // breackpoint - w-100
        @media only screen and (min-width: 992px){
            width: $w-50;
        }

    } 
    .contactoText{
        margin-bottom: 10px;
        font-family: $fontMain;
        @include text($textSsm,$textSm);
        color: map-get($map: $colores, $key: 'nueve');
        width: $w-100;

        // breackpoint - agrando letra
        @media only screen and (min-width: 992px){
            font-size: $textSm;
        }
    }
    .contactoButton{
        @include flex(none,none,column);

        // breakpoint 
        @media only screen and (min-width: 1024px){
            @include flex(space-evenly,center,row);
        }
    }

    .contacto__form--button{
        background-color: map-get($map: $colores, $key: 'cuatro');
        color: map-get($map: $colores, $key: 'nueve');
        font-family: $fontMain;
        font-size: $textSsm;
        @include flex(center,center,column);
        @include m-p(10px,10px);
        border: none;
        &:hover{
            background-color: map-get($map: $colores, $key: 'siete');
            transform: scale(1.05);
            // breakpoint
            @media only screen and (min-width: 992px){
                box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
            }
        }

        @media only screen and (min-width: 1024px){
            width: $w-50;
        }
    }

    .contacto__titulo--xl{
        font-size: $textXl;
        text-align: center;
        color: map-get($map: $colores, $key: 'nueve');
    }
}

// MAIN DE ERROR-404
.imgError{
    @include flex(center,center,column);
    img{
       width: $w-80 ;

       @media only screen and(max-width: 992px){
           width: $w-40;
       }
    }   
}

.divError{
    @include flex(center,center,column);
    @include m-p(10px 15px, 10px 15px);

    h1{
        color: map-get($map: $colores, $key: 'once');
        @include text($textXl,4rem);

        @media only screen and (min-width:1024px){
            @include text($textXxl, 5rem);
        }
    }
    p{
        text-align: center;
        @include text($textMd,3rem);
        font-family: $fontMain;
    }
    a{
        font-family: $fontMain;
    }
    .btn-error{
        background-color: map-get($map: $colores, $key: 'cuatro');
        color: map-get($map: $colores, $key: 'nueve');
        font-family: $fontMain;
        font-size: $textSsm;
        @include flex(center,center,column);
        @include m-p(10px,10px);
        width: $w-30;
        border: none;
        &:hover{
            background-color: map-get($map: $colores, $key: 'siete');
            transform: scale(1.05);
            // breakpoint
            @media only screen and (min-width: 992px){
                box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
            }
        }    
    }

    
}
.div__error--flex{

    @include m-p(15px 20px, 10px 15px);
    // breakpoint- row
    @media only screen and (min-width: 992px){
        @include flex(center,center,row);
    }
}


















