@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&display=swap');

$fontMain:'Josefin Sans', sans-serif;

$textXxl: 4.5rem;
$textXl: 3.5rem;
$textMd: 2.5rem;
$textSm: 2rem;
$textSsm: 1.5rem;