.nav{
    background-color: map-get($map: $colores, $key: 'uno');
    top: 0;
    padding: 10px 30px;
    z-index: 999;
    ul{
        li{
            list-style: none;
            margin-right: 10px;
            a{
                font-size: $textSm;
                text-decoration: none;
                color: map-get($map: $colores, $key: 'dos');
                display: block;
                padding: 0.5rem 1rem;
            }
        }
    }

}
.navImg{
    width: 170px;
    margin-bottom: 10px;
}